<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>again.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,156},{210,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,58}}</string>
                <key>sourceSize</key>
                <string>{210,58}</string>
            </dict>
            <key>b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{1280,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,180}}</string>
                <key>sourceSize</key>
                <string>{1280,180}</string>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{1280,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,103}}</string>
                <key>sourceSize</key>
                <string>{1280,103}</string>
            </dict>
            <key>board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,2},{218,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,152}}</string>
                <key>sourceSize</key>
                <string>{218,152}</string>
            </dict>
            <key>game_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,253},{86,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,56}}</string>
                <key>sourceSize</key>
                <string>{86,56}</string>
            </dict>
            <key>game_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{1280,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,514}}</string>
                <key>sourceSize</key>
                <string>{1280,514}</string>
            </dict>
            <key>hammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,216},{93,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,69}}</string>
                <key>sourceSize</key>
                <string>{93,69}</string>
            </dict>
            <key>hamster.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,287},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>music_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,365},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>music_note.png</key>
            <dict>
                <key>frame</key>
                <string>{{2020,2},{22,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{22,36}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>music_note2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,341},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,768}}</string>
                <key>sourceSize</key>
                <string>{1280,768}</string>
            </dict>
            <key>prop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,216},{35,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,148}}</string>
                <key>sourceSize</key>
                <string>{35,148}</string>
            </dict>
            <key>prop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2020,40},{18,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,112}}</string>
                <key>sourceSize</key>
                <string>{18,112}</string>
            </dict>
            <key>prop3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,300},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>prop4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,399},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>prop5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,342},{55,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,70}}</string>
                <key>sourceSize</key>
                <string>{55,70}</string>
            </dict>
            <key>prop6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,253},{45,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,89}}</string>
                <key>sourceSize</key>
                <string>{45,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0b86f95f6f442d6a4e76e02cb4a4c52$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
