<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beaker.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1291},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>beaker1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1839},{120,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,152}}</string>
                <key>sourceSize</key>
                <string>{120,152}</string>
            </dict>
            <key>beaker2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1535},{120,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,152}}</string>
                <key>sourceSize</key>
                <string>{120,152}</string>
            </dict>
            <key>bottle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1464},{57,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,116}}</string>
                <key>sourceSize</key>
                <string>{57,116}</string>
            </dict>
            <key>bottle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,422},{42,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,137}}</string>
                <key>sourceSize</key>
                <string>{42,137}</string>
            </dict>
            <key>bottle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,997},{57,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,124}}</string>
                <key>sourceSize</key>
                <string>{57,124}</string>
            </dict>
            <key>bottle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,871},{57,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,124}}</string>
                <key>sourceSize</key>
                <string>{57,124}</string>
            </dict>
            <key>button/arr9.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,236},{37,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,52}}</string>
                <key>sourceSize</key>
                <string>{37,52}</string>
            </dict>
            <key>button/back.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1775},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>button/close.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,336},{46,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{46,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>button/down.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1775},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>button/lib.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1957},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>button/music1.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1284},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>button/music2.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1284},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>button/tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1284},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>button/up.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1284},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>button/win_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1327},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>cly_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,289},{45,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,5}}</string>
                <key>sourceSize</key>
                <string>{45,5}</string>
            </dict>
            <key>cyl.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,88},{15,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,4}}</string>
                <key>sourceSize</key>
                <string>{15,4}</string>
            </dict>
            <key>cylinder.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{58,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,236}}</string>
                <key>sourceSize</key>
                <string>{58,236}</string>
            </dict>
            <key>dianfen/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1346},{57,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,116}}</string>
                <key>sourceSize</key>
                <string>{57,116}</string>
            </dict>
            <key>dianfen/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1343},{57,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,116}}</string>
                <key>sourceSize</key>
                <string>{57,116}</string>
            </dict>
            <key>dianfen/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1284},{57,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,116}}</string>
                <key>sourceSize</key>
                <string>{57,116}</string>
            </dict>
            <key>dianfen/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1284},{57,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,116}}</string>
                <key>sourceSize</key>
                <string>{57,116}</string>
            </dict>
            <key>dianfen/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1837},{57,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,116}}</string>
                <key>sourceSize</key>
                <string>{57,116}</string>
            </dict>
            <key>drop.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1348},{19,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,53}}</string>
                <key>sourceSize</key>
                <string>{19,53}</string>
            </dict>
            <key>drop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1327},{19,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,112}}</string>
                <key>sourceSize</key>
                <string>{19,112}</string>
            </dict>
            <key>fire2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,206},{28,38}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{28,38}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>fire2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,144},{30,40}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{30,40}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>fire2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,384},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>flow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,1284},{21,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,77}}</string>
                <key>sourceSize</key>
                <string>{21,77}</string>
            </dict>
            <key>hand/hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,569},{199,196}}</string>
                <key>offset</key>
                <string>{21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,18},{199,196}}</string>
                <key>sourceSize</key>
                <string>{271,228}</string>
            </dict>
            <key>hand/hand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,88},{199,208}}</string>
                <key>offset</key>
                <string>{21,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,6},{199,208}}</string>
                <key>sourceSize</key>
                <string>{271,228}</string>
            </dict>
            <key>hand/hand_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,429},{200,138}}</string>
                <key>offset</key>
                <string>{-25,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{200,138}}</string>
                <key>sourceSize</key>
                <string>{250,318}</string>
            </dict>
            <key>hand/hand_left_part.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1857},{178,138}}</string>
                <key>offset</key>
                <string>{-36,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,86},{178,138}}</string>
                <key>sourceSize</key>
                <string>{250,318}</string>
            </dict>
            <key>hand/hand_left_part1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1369},{178,124}}</string>
                <key>offset</key>
                <string>{-36,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,100},{178,124}}</string>
                <key>sourceSize</key>
                <string>{250,318}</string>
            </dict>
            <key>hand/hand_part.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1079},{181,106}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,75},{181,106}}</string>
                <key>sourceSize</key>
                <string>{271,228}</string>
            </dict>
            <key>hand/hand_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,289},{200,138}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,90},{200,138}}</string>
                <key>sourceSize</key>
                <string>{250,318}</string>
            </dict>
            <key>hand/hand_right_part.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1187},{180,138}}</string>
                <key>offset</key>
                <string>{34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,90},{180,138}}</string>
                <key>sourceSize</key>
                <string>{250,318}</string>
            </dict>
            <key>hand/hand_right_part1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1675},{180,132}}</string>
                <key>offset</key>
                <string>{34,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,96},{180,132}}</string>
                <key>sourceSize</key>
                <string>{250,318}</string>
            </dict>
            <key>iron.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1369},{120,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,304}}</string>
                <key>sourceSize</key>
                <string>{120,304}</string>
            </dict>
            <key>iron/down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,104},{38,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,9}}</string>
                <key>sourceSize</key>
                <string>{38,9}</string>
            </dict>
            <key>iron/iron.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1729},{120,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,304}}</string>
                <key>sourceSize</key>
                <string>{120,304}</string>
            </dict>
            <key>iron/mk.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1549},{122,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,136}}</string>
                <key>sourceSize</key>
                <string>{122,136}</string>
            </dict>
            <key>iron/up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,64},{38,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,11}}</string>
                <key>sourceSize</key>
                <string>{38,11}</string>
            </dict>
            <key>iron/up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,110},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>lamp/fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,290},{19,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,35}}</string>
                <key>sourceSize</key>
                <string>{19,35}</string>
            </dict>
            <key>lamp/lamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1284},{55,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,72}}</string>
                <key>sourceSize</key>
                <string>{55,72}</string>
            </dict>
            <key>lamp/lp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1212},{55,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,63}}</string>
                <key>sourceSize</key>
                <string>{55,63}</string>
            </dict>
            <key>lamp/lp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,311},{20,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,29}}</string>
                <key>sourceSize</key>
                <string>{20,29}</string>
            </dict>
            <key>lamp/match.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1269},{62,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,20}}</string>
                <key>sourceSize</key>
                <string>{62,20}</string>
            </dict>
            <key>lamp/match_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,1123},{87,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,67}}</string>
                <key>sourceSize</key>
                <string>{87,67}</string>
            </dict>
            <key>lib_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1369},{358,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,84}}</string>
                <key>sourceSize</key>
                <string>{358,84}</string>
            </dict>
            <key>lid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{39,12}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{39,12}}</string>
                <key>sourceSize</key>
                <string>{45,22}</string>
            </dict>
            <key>lid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,176},{40,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{40,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>mei/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1955},{57,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,116}}</string>
                <key>sourceSize</key>
                <string>{57,116}</string>
            </dict>
            <key>mei/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1837},{57,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,116}}</string>
                <key>sourceSize</key>
                <string>{57,116}</string>
            </dict>
            <key>mei/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1657},{57,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,116}}</string>
                <key>sourceSize</key>
                <string>{57,116}</string>
            </dict>
            <key>mei/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1657},{57,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,116}}</string>
                <key>sourceSize</key>
                <string>{57,116}</string>
            </dict>
            <key>mei/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1839},{57,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,116}}</string>
                <key>sourceSize</key>
                <string>{57,116}</string>
            </dict>
            <key>rack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,767},{310,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{310,189}}</string>
                <key>sourceSize</key>
                <string>{318,189}</string>
            </dict>
            <key>rack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,561},{284,17}}</string>
                <key>offset</key>
                <string>{0,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,30},{284,17}}</string>
                <key>sourceSize</key>
                <string>{318,189}</string>
            </dict>
            <key>root.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,104},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>run_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,768}}</string>
                <key>sourceSize</key>
                <string>{1280,768}</string>
            </dict>
            <key>sg.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,62},{24,230}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{24,230}}</string>
                <key>sourceSize</key>
                <string>{40,248}</string>
            </dict>
            <key>sg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,561},{29,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,281}}</string>
                <key>sourceSize</key>
                <string>{29,281}</string>
            </dict>
            <key>sglan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{29,77}}</string>
                <key>offset</key>
                <string>{0,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,204},{29,77}}</string>
                <key>sourceSize</key>
                <string>{29,281}</string>
            </dict>
            <key>tool/clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1673},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>tool/clock5.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1369},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>tool/point.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,62},{4,46}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,38},{4,46}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>tool/tip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,847},{58,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,22}}</string>
                <key>sourceSize</key>
                <string>{58,22}</string>
            </dict>
            <key>tool/tip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1284},{71,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,22}}</string>
                <key>sourceSize</key>
                <string>{71,22}</string>
            </dict>
            <key>wpoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,43},{12,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,19}}</string>
                <key>sourceSize</key>
                <string>{12,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f074e6cf49b8d8b1789e1d4bce80dc2$</string>
            <key>textureFileName</key>
            <string>run.png</string>
        </dict>
    </dict>
</plist>
