<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CeShi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,824},{108,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,16},{108,26}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>CeShi_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,667},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>DianjiK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,120},{180,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,297}}</string>
                <key>sourceSize</key>
                <string>{180,297}</string>
            </dict>
            <key>GuanY.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,880},{104,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,16},{104,26}}</string>
                <key>sourceSize</key>
                <string>{180,56}</string>
            </dict>
            <key>GuanY_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,605},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>LianX.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,935},{102,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,17},{102,24}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>LianX_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,543},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>MuDe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,908},{104,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,17},{104,25}}</string>
                <key>sourceSize</key>
                <string>{180,61}</string>
            </dict>
            <key>MuDe_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,481},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>QiTa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1009},{53,29}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,7},{53,29}}</string>
                <key>sourceSize</key>
                <string>{185,49}</string>
            </dict>
            <key>Quw.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,729},{115,29}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,10},{115,29}}</string>
                <key>sourceSize</key>
                <string>{185,49}</string>
            </dict>
            <key>Shiz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,793},{113,29}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,8},{113,29}}</string>
                <key>sourceSize</key>
                <string>{185,49}</string>
            </dict>
            <key>YinD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,760},{113,31}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,7},{113,31}}</string>
                <key>sourceSize</key>
                <string>{185,49}</string>
            </dict>
            <key>YuanL.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,852},{106,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,15},{106,26}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>YuanL_Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,419},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>axiom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1135},{890,577}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{890,577}}</string>
                <key>sourceSize</key>
                <string>{890,577}</string>
            </dict>
            <key>back.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,768}}</string>
                <key>sourceSize</key>
                <string>{1280,768}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,765},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1064},{185,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,49}}</string>
                <key>sourceSize</key>
                <string>{185,49}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,1009},{46,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{46,26}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1973,827},{306,57}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,16},{306,57}}</string>
                <key>sourceSize</key>
                <string>{340,95}</string>
            </dict>
            <key>menuBg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{1280,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,52}}</string>
                <key>sourceSize</key>
                <string>{1280,52}</string>
            </dict>
            <key>plane.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,2},{79,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,36}}</string>
                <key>sourceSize</key>
                <string>{81,36}</string>
            </dict>
            <key>q1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1009},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{31,31}}</string>
                <key>sourceSize</key>
                <string>{37,33}</string>
            </dict>
            <key>q2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,83},{35,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1980,729},{34,63}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{34,63}}</string>
                <key>sourceSize</key>
                <string>{50,77}</string>
            </dict>
            <key>r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,961},{46,81}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,22},{46,81}}</string>
                <key>sourceSize</key>
                <string>{82,125}</string>
            </dict>
            <key>r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,1009},{27,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{27,46}}</string>
                <key>sourceSize</key>
                <string>{37,58}</string>
            </dict>
            <key>target.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,110},{890,577}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{890,577}}</string>
                <key>sourceSize</key>
                <string>{890,577}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{722,106}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,141},{722,106}}</string>
                <key>sourceSize</key>
                <string>{1280,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>start.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8030fc53c548ae9f5dd35ef4f8f3e005$</string>
            <key>textureFileName</key>
            <string>start.png</string>
        </dict>
    </dict>
</plist>
